.container {
    height: 20rem;
    position: absolute;
    bottom: 10%;
    left: 10%;
    opacity: 0.6;
}

.left-side {
    float: left;
    padding: 10%;
}

.right-side {
    float: left;
    padding: 10%;
}

h1 {
    color: white;
    font-weight: bold;
}

button {
    background-color: Green;
    opacity: 1;
    border: 1px solid white;
    border-radius: 5px;
}

.sign-up {
    margin-top: 33%;
}

.sign-in {
    margin-top: 33%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}